.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
}

.page-btn {
  width: 32px;
  height: 32px;
  border: 1px solid #d1d5db;
  background: #ffffff;
  color: #374151;
  font-size: 13px;
  border-radius: 0px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn:hover {
  background: #f3f4f6;
}

.page-btn.active {
  background: #111827;
  color: #ffffff;
  border-color: #111827;
}

